body{
    background-color: rgba(53, 0, 138, 0.671);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;  
}

header{
    background-color: rgb(68, 1, 77);
    color: white;
    text-align: center;
    height: 150px;
    margin: 0px;
    padding: 10px 0;    
    font-weight: bold;
    border-bottom: 3px solid #DDC3A5; 
}

#principal{
    padding: 50px;
    font-size: 45px;
}


h1{
    color: white;
}
a{
    text-decoration: none;
    color: none;
}

.boton-a{
    background-color: #482fd3;    
    display: block;          
    color: white;
    width: 30%;    
    margin: 5% auto; 
    padding: 3%;
    height: auto;  
    border-radius: 8px;
    text-align: center;
    text-decoration: none;  
    cursor: pointer;
}


.boton-a:hover {
    background-color: #618afa;
}
