body{
    background-color: rgb(68, 1, 77);
    color: white;
    
}

td{
    text-align: center;
}
th{
    text-align: center;
}

.hora-horario{
    background-color: darksalmon !important; /* busqué en internet que !important obliga a usar este por encima de otros (sin esto no se me aplicaba) */
    font-style: oblique;
    text-decoration: underline;
    vertical-align: middle;
}

table{
    width: 70% !important;
}

h1{
    padding-left: 23%;
}