body {
    font-family: Arial, sans-serif;
    background: #eee;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .box1 {
    background: #a76407;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin-bottom: 25px;
  }

  .box2 {
    background: #dca558;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin-bottom: 25px;
  }

  h1 {
    text-align: center;
    font-size: 22px;
    color: #704215;
  }

  label { 
    font-weight: bold; 
  }

  .grupo { 
    margin-bottom: 12px; 
  }
  
  input, select, textarea {
    padding: 6px;
    border: 1px solid #999;
    border-radius: 4px;
  }

  textarea { 
    width: 100%; height: 70px; 
  }

  .botones {
    text-align: center;
    margin-top: 20px;
  }

  .botones button {
    background: #5a4428;
    color: #fff;
    padding: 10px 40px;
    border: none;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  #botonatras {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}