body {
    background-color: #a10000; 
    color: white; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}


header {
    background-color: #C44536; 
    color: white; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1% 0;
    text-align: center;
    font-size: 16px;
    border-bottom: 3px solid #DDC3A5; 
}

footer {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 1% 0; 
    margin: 0;      
    font-weight: bold;
    border-top: 0.3% solid #DDC3A5; 
}

.formulario {
background-color: #DDC3A5;
max-width: 600px;
margin: 5% auto;
padding: 20px;
border: 1px solid #e0e0e0;
border-radius: 4px;
}

#botonatras {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.atras{
    position: absolute;
    font-size: larger;
    color: #8b5e45;
    text-decoration: none;
    cursor: pointer;
    
}

h3 {
font-size: 24px;
font-weight: normal;
color: #8b5e45;
margin-bottom: 20px;
}

h2 {
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #C44536;
    padding: 0% 0%;
    margin: 1% 10%; 
}

form {
display: flex;
flex-direction: column;
gap: 12px;
}


.row {
display: flex;
gap: 10px;
}


.row input {
flex: 1;
}


input, textarea {
border: 1px solid grey;
padding: 10px;
font-size: 14px;
border-radius: 2px;
}


textarea {
min-height: 150px;
resize: vertical;
}


.contador {
font-size: 12px;
color: grey;
text-align: right;
}


button {
width: 120px;
padding: 10px;
background: #c69478;
color: #fff;
border: none;
cursor: pointer;
border-radius: 2px;
align-self: flex-end;
}


button:hover {
background: #b78469;
}

#contactar {
width: 120px;
padding: 10px;
background: #c69478;
color: #fff;
border: none;
cursor: pointer;
border-radius: 2px;
align-self: center;
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

a:hover {
    text-decoration: underline;
}