body {
    background-color: #a10000; 
    color: white; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 0px 0px;
    margin:0 250px;    
    font-weight: bold;
    border-bottom: 3px solid #DDC3A5; 
}

hr {
    border: none;
    border-top: 1px solid #DDC3A5;
    margin: 30px auto;
    width: 80%;
}

#botonatras {
    font-size: 0.8em;
    margin-right: 3000px;
    background-color: rgb(83, 83, 83);
    color:white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


h2 {
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #C44536;
    padding: 0px 0px;
    margin:10px 250px; 
}

.bloque1{
    background-color: #C44536;
    border-radius: 20px;
    font-size: 0.6em;
    color: white;
    width: 400px;
    height: 250px;
    padding: 20px;
}

h4 {
    font-size: small;
    text-decoration: underline;
}

.recetas {
    width: 250px;
    height: 250px;
    margin-top:15px;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#recetas:hover {
    transform: scale(1.05);
}
/* Un compa침ero de clase me explic칩 como hacer para que se ampliaran las im치genes al poner el rat칩n por encima */

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}
a:hover{
    text-decoration: underline;
}



p {
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.pdf{
    background-color: white;
    border-radius: 20px;
    font-size: 0.4em;
    width: 100px;
    height: 50px;
    padding: 5px;
}

ol {
    text-align: justify;
    margin: 30px;
    margin-inline-end: 100px;
    margin-inline-start: 100px;
}


.ingredientes{
        text-align: center;
    margin-left: 35%;
    text-align: left;
    font-size: 0.6em;
}

.pasos {
    margin-bottom: 30px;
    font-size: 0.6em;
    
}

footer {
   background-color: #C44536; 
    color: #F8F5F0; 
    padding: 10px 0;    
    font-weight: bold;
    border-top: 3px solid #DDC3A5; 
}