body {
    background-color: #a10000; 
    color: white; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 0% 0%;
    margin: 0 10%;    
    font-weight: bold;
    border-bottom: 0.3% solid #DDC3A5; 
}

hr {
    border: none;
    border-top: 0.1% solid #DDC3A5;
    margin: 3% auto;
    width: 80%;
}

#botonatras {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

h2 {
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #C44536;
    padding: 0% 0%;
    margin: 1% 10%; 
}

.bloque1 {
    display: flex;
    flex-wrap: wrap;      /* permite que los bloques bajen */
    gap: 10px;
    justify-content: center;
}

.bloque2 {
    background-color: #C44536;
    border-radius: 20px;
    font-size: 0.8em;
    color: white;
    padding: 10px;
    width: 400px;
max-width: 100%;
        /* crecer y encoger, mínimo 150px */
    min-width: 30%;     /* ❗ evita que se encojan más allá de 150px */      /* ❗ permite que bajen de línea en móviles */
}

p{
    padding: 10%;
}

h4 {
    font-size: medium;
    text-decoration: underline;
}

.recetas {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 3% auto;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#recetas:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

a:hover {
    text-decoration: underline;
}


.pdf {
    display: block;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    height: auto;
    padding: 1%;
    margin: 5% auto;
}

ol {
    text-align: justify;
    margin: 3%;
    margin-inline-end: 10%;
    margin-inline-start: 10%;
}


.ingredientes {
    display: block;
    text-align: center;
    width: 30%;
    margin: 5% auto;
    text-align: left;
    font-size: 0.6em;
}

.pasos {
    margin-bottom: 3%;
    font-size: 0.6em; 
}

footer {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 1% 0;    
    font-weight: bold;
    border-top: 0.3% solid #DDC3A5; 
}
