body {
    background-color: #a10000; 
    color: white; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 0% 0%;
    margin: 0 10%;    
    font-weight: bold;
    border-bottom: 0.3% solid #DDC3A5; 
}

hr {
    border: none;
    border-top: 0.1% solid #DDC3A5;
    margin: 3% auto;
    width: 80%;
}

#botonatras {
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

h2 {
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #C44536;
    padding: 0% 0%;
    margin: 1% 10%; 
}

.bloque1 {
    background-color: #C44536;
    border-radius: 20px;
    font-size: 0.8em;       
    color: white;
    padding: 10px;
    width: 100%;      
}

h4 {
    font-size: small;
    text-decoration: underline;
}

.recetas {
    max-width: 100%;
    height: auto;
    margin-top: 3%;
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#recetas:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
    font-size: large;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.pdf {
    background-color: white;
    border-radius: 20px;
    font-size: 0.4em;
    width: 20%;
    height: auto;
    padding: 2%;
}

ol {
    text-align: justify;
    margin: 3%;
    margin-inline-end: 10%;
    margin-inline-start: 10%;
}

.ingredientes {
    text-align: center;
    margin-left: 35%;
    text-align: left;
    font-size: 0.6em;
}

.pasos {
    margin-bottom: 3%;
    font-size: 0.6em; 
}

footer {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 1% 0;    
    font-weight: bold;
    border-top: 0.3% solid #DDC3A5; 
}
