body {
    background-color: #a10000; 
    color: white; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 0% 0%;
    margin: 0 10%;       
    font-weight: bold;
    border-bottom: 0.3% solid #DDC3A5; 
}

#MENU {
    background-color: #C44536;
    height: 10%;          
    padding: 0% 0%;
    margin: 0 10%;        
}

hr {
    border: none;
    border-top: 0.1% solid #DDC3A5;
    margin: 3% auto;
    width: 80%;
}

#botonatras {
   position: absolute;
    top: 1%;             
    left: 1%;            

    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 1% 2%;      
    border-radius: 5px;
}

.botonreceta {
    font-size: 0.8em;
    background-color: rgb(83, 83, 83);
    color:white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: 2%;     
}

h2 {
    font-size: 1.6em;
    color: white;
    margin: 2%;          
    background-color: #C44536;
    padding: 1%;         
}

.recetas {
    width: 40%;          
    height: auto;        
    border-radius: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.recetas:hover {
    transform: scale(1.05);
}

#portadarestaurante {
    width: 60%;
    padding: 3%;         
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #C44536; 
    color: #F8F5F0; 
    padding: 1% 0;       
    font-weight: bold;
    border-top: 0.3% solid #DDC3A5; 
}
